.container {
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

h1 {
    text-align: center;
    width: 80%;
    margin: 20px auto 10px auto;
    padding: 20px 10px;
    background-color: gray;
    border: 1px black;
    border-radius: 10px;
    color: white;
}

.ranking {
  width: 45%;
  margin: auto;
  display: inline-block;
  text-align: center;
  padding: 20px 10px;
  border-radius: 10px;
}

#katie {
    color: white;
    background-color: #520dc2;
}

#jim {
    color: white;
    background-color: #0a58ca;
}

.rankval {
  display: block;
  width: 100%;
  font-size: 7em;
}

.rankTitle {
  display: block;
  font-size: 3em;
}

.ranking img {
  display: block;
  margin: auto;
  max-height: 200px;
  padding: 10px;
}

#main {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main li {
    padding: 0;
    margin: 0;
}

.stattitle {
    text-align: center;
    font-weight: Bold;
    display: block;
    background-color: black;
    color: white;
}